BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 120
AllowAllConstructorInitializersOnNextLine: true

FileFilter:
  - '**/*.h':
      AlignConsecutiveDeclarations: true