[submodule "alcedo/third_party/opencv"]
	path = alcedo/third_party/opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.x
[submodule "alcedo/third_party/opencv_contrib"]
	path = alcedo/third_party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = 4.x
[submodule "alcedo/src/third_party/lensfun"]
	path = alcedo/src/third_party/lensfun
	url = https://github.com/lensfun/lensfun.git
[submodule "alcedo/src/third_party/metal-cpp"]
	path = alcedo/src/third_party/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp
[submodule "alcedo/src/third_party/libultrahdr"]
	path = alcedo/src/third_party/libultrahdr
	url = https://github.com/google/libultrahdr.git
[submodule "alcedo_studio/third_party/dawn"]
	path = alcedo_studio/third_party/dawn
	url = https://dawn.googlesource.com/dawn
